<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include navigation.html param="Blogs" %}
	<div data-aos="flip-up" class="container">
		<div class="row">
			<div  class="col-md-12">
				 <div  class="content">
				 {{content}}
				 </div>
			 </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
				<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
				<script>
				var cloudTieConfig = {
				  url: document.location.href, 
				  sourceId: "",
				  productKey: "be485cd3efe44ae4a8bbc1b4cd375792",
				  target: "cloud-tie-wrapper"
				};
				var yunManualLoad = true;
				Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
				</script>
			 </div>
		</div>
	</div> 
		<script>

AOS.init()

</script>
</body>
</html>